* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
}

/* navbar style start here */

.header {
  background-color: #fff;
  margin-top: 20px;
}

.header-section {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
  display: flex;
}

.nav-container {
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 50%;
}

.nav-container img {
  width: 48px;
  object-fit: cover;
  margin-right: 25px;
}

.nav-container p {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-container span {
  margin-left: 12px;
}

.items-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-container a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.special {
  color: #ff5400;
  font-weight: 800;
}

/* navbar style end here */

/* explore travel start here */

.explore-section {
  margin-top: 20px;
  max-width: 1240px;
  width: 85%;
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url('../../assets/images/Group 13 (1) (1).png');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.explore-section .explore .text-container h1 {
  padding-top: 106px;
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.explore-section .explore .text-container p {
  padding-top: 20px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 643px;
  margin-left: auto;
  margin-right: auto;
}

.input-container {
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 24px;
}

.input-container input,
.input-container select,
.input-container button {
  width: 100%;
  padding: 8px;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 16px;
  outline: 0;
  border-color: transparent;
}

.input-container button {
  background: #ff5400;
  color: #ffffff;
  cursor: pointer;
}

.input-container button span {
  margin-right: 8px;
}

/* explore travel end here */

/* popular tours section start here */
.popular-tours-section {
  max-width: 1240px;
  width: 85%;
  height: 550px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.popular-tours-section .popular-tours {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.popular-tours-section .popular-tours .popular-tours-text {
  grid-column: span 7;
}

.popular-tours-section .popular-tours .popular-tours-text h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.popular-tours-section .popular-tours .popular-tours-text p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.popular-tours-section .popular-tours .popular-tours-text .btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  padding: 10px;
}

.popular-tours-section .popular-tours .popular-tours-img {
  grid-column: span 5;
}

.popular-tours-section .popular-tours .popular-tours-img img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* popular tours section end here */

/* choose destination section end here */
.choose-destination-section {
  max-width: 1240px;
  width: 85%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.choose-destination-section .choose-destination-text h1 {
  padding-top: 20px;
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.choose-destination-section .choose-destination-text p {
  padding-top: 20px;
  padding-bottom: 30px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 643px;
  margin-left: auto;
  margin-right: auto;
}

.choose-destination-section .choose-destination-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.choose-destination-section .choose-destination-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.img-card {
  position: relative;
}

.img-card-text h4 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.img-card-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  );
}

.choose-destination-section .choose-destination .choose-destination-img .img-1 {
  grid-column: span 6;
  height: 300px;
}

.choose-destination-section .choose-destination .choose-destination-img .img-2 {
  grid-column: span 6;
  height: 300px;
}

.choose-destination-section .choose-destination .choose-destination-img .img-3 {
  grid-column: span 4;
  height: 286px;
}

.choose-destination-section .choose-destination .choose-destination-img .img-4 {
  grid-column: span 5;
  height: 286px;
}

.choose-destination-section .choose-destination .choose-destination-img .img-5 {
  grid-column: span 3;
  height: 286px;
}
.choose-destination-section .choose-destination .choose-destination-img .img-6 {
  grid-column: span 5;
  height: 300px;
}

.choose-destination-section .choose-destination .choose-destination-img .img-7 {
  grid-column: span 7;
  height: 300px;
}
/* choose destination section end here */

/* why choose us section start here */

.testimonial-section {
  max-width: 1240px;
  width: 85%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-section .testimonial .testimonial-top h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 15px;
}

.testimonial-section .testimonial .testimonial-top p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
  width: 643px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-section .testimonial .testimonial-bottom {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.testimonial-section
  .testimonial
  .testimonial-bottom
  .testimonial-bottom-div-1 {
  grid-column: span 6;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.testimonial-section
  .testimonial
  .testimonial-bottom
  .testimonial-bottom-div-2 {
  grid-column: span 6;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.testimonial-section
  .testimonial
  .testimonial-bottom
  .testimonial-bottom-div-3 {
  grid-column: 3/9;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.testimonial-section
  .testimonial
  .testimonial-bottom
  .testimonial-bottom-div {
  padding: 20px;
}

.testimonial-section
  .testimonial
  .testimonial-bottom
  .testimonial-bottom-div
  h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 10px;
}

.testimonial-section
  .testimonial
  .testimonial-bottom
  .testimonial-bottom-div
  p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* why choose us section end here */

/* newsletter and save section start here */
.newsletter-save-section {
  max-width: 1240px;
  width: 85%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-save-section .newsletter-save {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.newsletter-save-section .newsletter-save .newsletter-text {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 20px;
}

.newsletter-save-section .newsletter-save .newsletter-text h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
  margin-top: 30px;
}

.newsletter-save-section .newsletter-save .newsletter-text p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(19, 19, 24, 0.1);
  padding-bottom: 30px;
}

.newsletter-save-section .newsletter-save .newsletter-text input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 80%;
  color: rgba(19, 19, 24, 0.3);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  padding: 10px;
  outline: 0;
  border-color: transparent;
}

.newsletter-save-section .newsletter-save .newsletter-text button {
  width: 80%;
  border-radius: 8px;
  background: #ff5400;
  padding: 10px;
  outline: 0;
  border-color: transparent;
}

.save-box {
  border-radius: 16px;
  background: #ff5400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  position: absolute;
  bottom: 57px;
  right: 6px;
  text-align: center;
}

.save-img-box {
  position: relative;
}
/* newsletter and save section end here */


/* why choose us section start here */

.testimonial-section {
    max-width: 1240px;
    width: 85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .testimonial-section .testimonial .testimonial-top h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
  }
  
  .testimonial-section .testimonial .testimonial-top p {
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    width: 643px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .testimonial-section .testimonial .testimonial-bottom {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
  
  .testimonial-section
    .testimonial
    .testimonial-bottom
    .testimonial-bottom-div-1 {
    grid-column: span 4;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background:  rgba(41, 206, 246, 0.05);
  }
  
  .testimonial-section
    .testimonial
    .testimonial-bottom
    .testimonial-bottom-div-2 {
    grid-column: span 4;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    background:rgba(233, 68, 68, 0.05);
  }
  
  .testimonial-section
    .testimonial
    .testimonial-bottom
    .testimonial-bottom-div-3 {
    grid-column: span 4;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    background:rgba(41, 206, 246, 0.05) ;
  }
  
  .testimonial-section
    .testimonial
    .testimonial-bottom
    .testimonial-bottom-div {
    padding: 20px;
  }

  .testimonial-section
    .testimonial
    .testimonial-bottom
    .testimonial-bottom-div img{
    width: 80px;
    height: auto;
    border-radius: 50%;
  }
  
  .testimonial-section
    .testimonial
    .testimonial-bottom
    .testimonial-bottom-div
    h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;
  }
  
  .testimonial-section
    .testimonial
    .testimonial-bottom
    .testimonial-bottom-div
    p {
    color: #5a5a5d;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  
  /* why choose us section end here */

/* footer section start here */
.footer-section {
  max-width: 1240px;
  width: 85%;
  margin-top: 20px;
  background: rgba(19, 19, 24, 0.05);
  margin-left: auto;
  margin-right: auto;
}

.footer-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(19, 19, 24, 0.10);
  margin-bottom: 30px;
  width: 872px;
  margin-left: auto;
  margin-right: auto;
}

.footer-top {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 50px;
}

.footer-section p {
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 769px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.footer-bottom-p {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 50px;
}

/* footer section end here */
